<footer class="footer">
  <p>&copy; 2025</p>
</footer>

<style>
  .footer {
    background-color: var(--text-color);
    color: var(--text-color-light);
    padding: var(--fs-xs);
    text-align: center;
  }
</style>
