---
import ArrowRightIcon from '#assets/icons/arrow-right.svg';
import type { NewsletterContent } from '../newsletter.model';

interface Props {
  content: NewsletterContent;
}

const { content } = Astro.props;
---

<section
  class="bg-secondary-50 dark:bg-secondary-100 relative hidden rounded-2xl p-6 lg:flex lg:flex-col lg:gap-3"
  aria-labelledby="newsletter-aside-heading"
>
  <h2 class="font-geist font-bold" id="newsletter-aside-heading">{content.title}</h2>
  <p class="text-sm">{content.description}</p>

  <form class="border-text relative flex items-center justify-between gap-2 rounded-xl border py-2 pr-2 pl-4">
    <label for="newsletter-email" class="sr-only">{content.inputLabel}</label>
    <input
      name="email"
      type="email"
      id="newsletter-email"
      placeholder={content.inputPlaceholder}
      class="bg-transparent outline-none"
    />
    <button
      type="submit"
      class="bg-secondary-900 hover:bg-secondary-700 dark:hover:bg-secondary-800 cursor-pointer rounded-lg px-2.5 py-2 text-white transition-colors dark:text-black"
      title="Subscribe to newsletter"
      aria-label="Subscribe to newsletter"
    >
      <ArrowRightIcon aria-hidden="true" />
    </button>
  </form>
</section>
