.container {
  margin: 2em;
  background-color: grey;
  display: grid;
  grid-template-columns: 200px 30% auto;
  grid-template-rows: 25% 100px auto;
  min-height: 50vh;
}

.item-a {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: crimson;
}

.item-b {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: orchid;
}

.item-c {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: skyblue;
}
