/* CONCEPTO CLAVE: Timing functions como elemento avanzado de animación */

/*********** FOCUS AREA ***********/

#ball {
  animation: drop 2.5s var(--timing-bounce) infinite;
}

/* prettier-ignore */
@keyframes drop {
  from { translate: 0 -200%; }
} /* to: implícito = 0 */

#clock {
  animation: wobble 1s var(--timing-wiggle) infinite;
}

/* prettier-ignore */
@keyframes wobble {
  from { transform-origin: 50% 200%; rotate: 0deg; }
  to { transform-origin: 50% 200%; rotate: 10deg; }
}

#heart {
  animation: glow-flash 1s var(--timing-spring) infinite;
}

/* prettier-ignore */
@keyframes glow-flash {
  0% { text-shadow: 0 0 5px #ff4b4b4d; }
  100% { text-shadow: 0 0 25px #c7294e; }
}

/**********************************/

span {
  font-size: 96px;
}

body {
  row-gap: 1em;
}

:root {
  /* Modelado avanzado de timing functions: https://easingwizard.com/ */

  --timing-bounce: linear(
    0,
    0.058 6%,
    0.109 9.8%,
    0.174 13%,
    0.262 15.9%,
    0.536 21.5%,
    0.997 27.7%,
    0.527 34.1%,
    0.428 36.4%,
    0.396 38.5%,
    0.431 40.6%,
    0.532 42.7%,
    0.996 48%,
    0.677 51.9%,
    0.607 53.4%,
    0.582 54.9%,
    0.605 56.4%,
    0.673 57.9%,
    0.999 62%,
    0.786 65%,
    0.74 66.2%,
    0.724 67.4%,
    0.739 68.6%,
    0.782 69.8%,
    0.999 73.4%,
    0.878 75.7%,
    0.837 77.8%,
    0.87 79.9%,
    1 83.2%,
    0.942 85.1%,
    0.923 86.9%,
    0.936 88.5%,
    1 92%,
    0.981 94.5%,
    1
  );
  --timing-wiggle: linear(
    0,
    0.769 2.8%,
    0.937 3.9%,
    0.994 5%,
    0.932 6.1%,
    0.761 7.2%,
    -0.637 12.3%,
    -0.864 13.6%,
    -0.945 14.8%,
    -0.902 15.9%,
    -0.753 17%,
    0.563 22.2%,
    0.775 23.5%,
    0.853 24.7%,
    0.818 25.8%,
    0.688 26.9%,
    -0.47 32.1%,
    -0.656 33.4%,
    -0.728 34.7%,
    -0.693 35.8%,
    -0.579 36.9%,
    0.352 41.9%,
    0.512 43.2%,
    0.579 44.5%,
    0.559 45.6%,
    0.475 46.7%,
    -0.253 51.8%,
    -0.373 53.1%,
    -0.423 54.4%,
    -0.412 55.4%,
    -0.355 56.5%,
    0.155 61.6%,
    0.239 62.9%,
    0.275 64.2%,
    0.27 65.2%,
    0.234 66.3%,
    -0.07 71.2%,
    -0.149 73.8%,
    -0.148 74.8%,
    -0.131 75.9%,
    0.017 80.6%,
    0.057 83.1%,
    0.054 85.1%,
    -0.008 91.4%,
    0
  );
  --timing-spring: linear(
    0,
    0.013 0.5%,
    0.05 1%,
    0.109 1.5%,
    0.204 2.1%,
    0.429 3.2%,
    1.04 5.8%,
    1.301 7.2%,
    1.395 7.9%,
    1.454 8.5%,
    1.491 9.1%,
    1.508 9.7%,
    1.506 10.2%,
    1.488 10.8%,
    1.453 11.4%,
    1.405 12%,
    1.29 13.1%,
    0.98 15.7%,
    0.847 17.1%,
    0.799 17.8%,
    0.769 18.4%,
    0.75 19%,
    0.742 19.6%,
    0.752 20.7%,
    0.794 21.9%,
    1.01 25.6%,
    1.078 27%,
    1.118 28.3%,
    1.131 29.5%,
    1.126 30.6%,
    1.105 31.8%,
    0.995 35.5%,
    0.96 36.9%,
    0.941 38.1%,
    0.933 39.3%,
    0.942 41.3%,
    1.016 46.4%,
    1.034 49.2%,
    1.029 51.2%,
    0.992 56.3%,
    0.983 59%,
    1.009 68.9%,
    0.996 78.5%,
    1.002 88.5%,
    1
  );
}
