---
export const prerender = false;
import Dog from "../components/dog.astro";
import Cat from "../components/cat.astro";
---

<html>
  <head>
    <meta charset="UTF-8" />
    <title>Random Dog and Cat Images</title>
  </head>
  <body>
    <Dog />
    <Cat server:defer>
      <div slot="fallback">
        <span style="color: green; font-size: 2.5rem;"
          >🐱 Loading cat fact...</span
        >
      </div>
    </Cat>
  </body>
</html>
