/* CONCEPTO CLAVE: Microinteracciones + cubic-bezier */

/*********** FOCUS AREA ***********/

.chevron {
  rotate: 90deg;

  input:checked ~ & {
    rotate: -90deg;
  }
}

.hamburger .line {
}

/**********************************/

.hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.12em;

  .line {
    width: 1em;
    height: 0.12em;
    background-color: #111;
  }
}

.icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: #ffffffdd;
  color: #111;
  cursor: pointer;
  font-size: 4em;
  line-height: 1;

  & input {
    /* appearance: none; */
    display: none;
  }

  &:hover {
    background-color: var(--highlight);
  }
}
