.root {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 600px) {
  .root {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .root {
    grid-template-columns: repeat(3, 1fr);
  }
}
