/* Esta es una variante donde aplicamos animaciones en lugar de transiciones.  */

/* Cambia ligeramente el funcionamiento, ya no son 2 estados "selected/not-selected"
que encajaba bien con las transiciones, sino que vamos a establecer un comportamiento
distinto, con 3 animaciones: 
- Una para disponer las fotos en la mesa.
- Otra para seleccionar una foto y visualizarla.
- Y otra final para darla por vista y descartarla. 

Nuestro script ahora marca como "selected" cuando hacemos click en una foto
y de "selected" a "discarded" si volvemos a hacer click.
*/

/* CONCEPTO CLAVE: animation-fill */
/* backwards = la animación aplica su estado inicial inicial durante el periodo de delay */
/* forwards = el elemento retiene estado final de la animación una vez termina */
/* both = backwards + forwards */

/*********** FOCUS AREA ***********/

/* ..your code here */

/**********************************/

body {
  padding: 0;
  a {
    z-index: 9999;
    text-shadow: 2px 2px 2px black;
  }
}

img {
  position: absolute;
  border: 10px solid #fff;
  box-sizing: border-box;
  cursor: pointer;
  & input {
    display: none;
  }
}

.gallery {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
