@import "https://fonts.googleapis.com/css?family=Raleway";

body {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 0.5em;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: greenyellow;
}

p {
  background-color: green;
}

p {
  background-color: grey;
}
