#keyboard {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: repeat(4, 80px);
  justify-content: stretch;
  justify-items: stretch;
  gap: 12px;
}

#keyboard li {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border: 1px solid #dedede;
  border-radius: 5px;
}

#keyboard li:hover {
  background: #eee;
  border: 1px solid #bebebe;
  border-radius: 5px;
  cursor: pointer;
}

#keyboard .command {
  font-size: 18px;
  font-weight: bold;
}

.green {
  color: #006a00;
}

.red {
  color: #ad0000;
}
