/* Cambio de color */
#sq1 {
  transition: background-color 500ms ease;
  &:hover {
    background-color: var(--highlight);
  }
}

/* Cambio de forma */
#sq2 {
  transition: border-radius 400ms ease-in-out;
  &:hover {
    border-radius: 50%;
  }
}

/* Cambio de tamaño */
#sq3 {
  transition: transform 250ms ease-out;
  &:hover {
    transform: scale(1.1);
  }
}

/* Cambio de opacidad */
#sq4 {
  transition: opacity 200ms ease;
  &:hover {
    opacity: 0.5;
  }
}

/* Multiples propiedades individuales */
#sq5 {
  --square-size: 6em;
  transition: transform 300ms ease, background-color 300ms ease-out, box-shadow 300ms ease-in-out;

  &:hover {
    transform: scale(1.3);
    background-color: var(--highlight);
    box-shadow: 0 0 20px 0px rgba(255, 255, 255, 0.35);
  }
}
