---
import GithubIcon from '../assets/icons/github.svg';
import LinkedInIcon from '../assets/icons/linkedin.svg';
import MailIcon from '../assets/icons/mail.svg';
---

<nav class="flex w-fit gap-4" aria-label="Contact links">
  <a
    href=""
    target="_blank"
    rel="noopener noreferrer"
    class="bg-primary-500 hover:bg-primary-600 dark:hover:bg-primary-400 flex h-9.5 w-9.5 items-center justify-center rounded-full text-3xl text-white transition-all duration-200 hover:scale-110"
    title="GitHub"
    aria-label="GitHub"
  >
    <GithubIcon aria-hidden="true" />
  </a>

  <a
    href=""
    target="_blank"
    rel="noopener noreferrer"
    class="bg-primary-500 hover:bg-primary-600 dark:hover:bg-primary-400 flex h-9.5 w-9.5 items-center justify-center rounded-full text-3xl text-white transition-all duration-200 hover:scale-110"
    title="LinkedIn"
    aria-label="LinkedIn"
  >
    <LinkedInIcon aria-hidden="true" />
  </a>

  <a
    href="mailto:example@example.com"
    target="_blank"
    rel="noopener noreferrer"
    class="bg-primary-500 hover:bg-primary-600 dark:hover:bg-primary-400 flex h-9.5 w-9.5 items-center justify-center rounded-full text-3xl text-white transition-all duration-200 hover:scale-110"
    title="Email"
    aria-label="Email"
  >
    <MailIcon aria-hidden="true" />
  </a>
</nav>
