---
//https://codehater.blog/articles/zero-js-progressive-loading/
---

<!-- LoadingFallback.astro -->
<div class="contents fallback">
  <slot name="fallback" />
</div>
<slot name="content" />

<style>
  .fallback:has(+ *) {
    display: none;
  }
</style>
