/*********** FOCUS AREA ***********/

#sq1 {
}

#sq2 {
}

#sq3 {
}

#sq4 {
}

/**********************************/

body {
  --item-size: 4em;
  --knob-size: 2em;
}

.container {
  display: grid;
  grid-template-columns: auto 1em auto;
  align-items: center;
  gap: 2em;
}

.transformed {
  background-color: var(--highlight);
}
