body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background: #111;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.live-background {
  --blur-step-1: 30px;
  --blur-step-2: 90px;
  --blur-step-3: 130px;
  /* --blur-step-1: 5vw;
  --blur-step-2: 8vw;
  --blur-step-3: 30vw; */
  --speed: 5s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

  position: absolute;
  top: 20%;
  left: 20%;
  right: 20%;
  bottom: 20%;
  /* background-image: linear-gradient(#4377ef, #7befd0); */
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  filter: blur(10px);
  animation: rotate var(--speed) var(--easing) alternate infinite;

  box-shadow: inset 0 0 var(--blur-step-1) #fff, inset 20px 0 var(--blur-step-2) #f0f,
    inset -20px 0 var(--blur-step-2) #0ff, inset 20px 0 var(--blur-step-3) #f0f,
    inset -20px 0 var(--blur-step-3) #0ff, 0 0 var(--blur-step-1) #fff,
    -10px 0 var(--blur-step-2) #f0f, 10px 0 var(--blur-step-2) #0ff;
}
