---
const titulo = "Hola mundo";
---

<html lang="en">
	<head>
				 <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>{titulo}</h1>
	</body>
</html>

<style>
	/* 3. ESTILOS — por defecto son SCOPED (solo afectan a este componente) */
	h1 {
		color: red;
	}
</style>
