@define-mixin hover {
  @media (hover: hover) {
    &:hover {
      @mixin-content;
    }
  }
}

@define-mixin pseudo $width, $height {
  content: '';
  position: absolute;
  width: $(width);
  height: $(height);
  @mixin-content;
}
