---
import { actions } from 'astro:actions';
import { getAllPosts } from './post-collection.api.js';
import PostCard from './components/post-card.astro';

const posts = await getAllPosts();

const postsWithLikes = await Promise.all(
  posts.map(async post => {
    const { data } = await Astro.callAction(actions.getLikes, post.slug);
    return { post, likes: data?.likes ?? 0 };
  })
);
---

<section class="flex flex-1 flex-col gap-9">
  <div class="grid max-w-[895px] gap-8 xl:grid-cols-2">
    {postsWithLikes.map(({ post, likes }) => <PostCard post={post} likes={likes} />)}
  </div>
</section>
