<header class="header">
  <nav class="menu">
    <ul>
      <li>
        <a href="/" class="menu__item"> CurioVerso</a>
      </li>
      <div class="menu__right">
        <li><a href="/facts/Streaming" class="menu__item">Streaming</a></li>
        <li>
          <a href="/facts/NoStreaming" class="menu__item">No Streaming</a>
        </li>
        <li><a href="/" class="menu__item">All Post</a></li>
        <li><a href="/about/" class="menu__item">About</a></li>
      </div>
    </ul>
  </nav>
</header>

<style>
  .header {
    background-color: var(--primary-color);
    color: var(--text-color-light);
    padding: var(--fs-xs);
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  .menu__item {
    color: var(--text-color-light);
    text-decoration: none;
  }
  .menu__item:hover {
    color: var(--secondary-color);
  }

  .menu__item.active {
    color: var(--secondary-color);
  }

  .menu__right {
    display: flex;
    gap: var(--space-md);
  }
</style>
