/*********** FOCUS AREA ***********/

.loader-comet {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  display: inline-block;
  border-top: 0.2em solid #fff;
  border-right: 0.2em solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/**********************************/
