*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.container {
  padding-inline-start: 2%;
  padding-inline-end: 2%;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.align-items-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}

.full-width {
  width: 100%;
}

.text-align-end {
  text-align: end;
}
.text-align-center {
  text-align: center;
}

.grey-text {
  color: #cacaca;
}

.card {
  border-radius: 5px;
  box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.1);
  padding: 1em;
}

.button {
  background-color: #fff;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  transition: background-color 0.2s ease-in;
  cursor: pointer;
  padding: 0.7em 1em;
}
.button:hover {
  background-color: #cacaca;
}
