{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-typescript",
    [
      {
        "env": {
          "development": {
            "sourceMaps": true,
            "retainLines": true
          }
        }
      }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-optional-chaining"]
}
