---
import ShapeOval from '../assets/shapes/oval.svg';
import ShapeRectangle from '../assets/shapes/rectangle.svg';
---

<!-- Decorative shapes -->
<div
  class="text-primary-500/25 absolute top-[-48%] right-[-30%] h-[243px] w-[420px] md:top-[-45%] md:right-[-10%]"
  aria-hidden="true"
>
  <ShapeOval />
</div>
<div
  aria-hidden="true"
  class="text-primary-500/25 absolute top-[70%] left-[-40%] h-[243px] w-[420px] overflow-clip md:top-[55%] md:left-[-5%]"
>
  <ShapeRectangle />
</div>
