---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles.css";
import DogPics from "../components/DogPics.astro";
const title = "Hello World !";
const imageError =
  "https://www.publicdomainpictures.net/pictures/190000/nahled/sad-dog-1468499671wYW.jpg";
const res = await fetch("https://dog.ceo/api/breeds/image/random/5");
const response = await res.json();
const dogImageUrls = response?.message ?? [imageError];
---

<BaseLayout title="Home">
  <h1>{title}</h1>
  <DogPics urls={dogImageUrls} />
  <div>
    <button id="cat-image-button">Get Cat Image</button>
  </div>
  <div>
    <img id="cat-image" style="max-width: 400px; height: auto;" />
  </div>
  <a href="/about">Go to about page</a>
  <a href="/blog">Go to blog page</a>
</BaseLayout>
<script>
  import { setupCatFactButton } from "./cat";
  setupCatFactButton();
</script>
