---
import ShapeRectangle from '#assets/shapes/rectangle.svg';
import { popularPosts } from './mock-data';

const popularContent = {
  heading: 'Popular posts',
  posts: popularPosts,
};
---

<!-- Popular Posts Section -->
<section
  class="bg-primary-50 dark:bg-primary-100 relative overflow-clip rounded-2xl p-6"
  aria-labelledby="popular-posts-aside-heading"
>
  <div class="relative z-10 flex flex-col gap-6">
    <h2 class="font-geist font-bold" id="popular-posts-aside-heading">{popularContent.heading}</h2>

    <ul class="flex flex-col gap-4" aria-label="List of popular posts">
      {
        popularContent.posts.map((post: any) => (
          <li>
            <a
              href={`/posts/${post.slug}`}
              class="hover:text-primary-600 leading-[1.3] decoration-[1.4px] underline-offset-2 transition-all hover:underline"
            >
              {post.title}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <!-- Decorative shapes -->
  <div class="text-primary-500/25 absolute right-[-75%] bottom-[-25%] h-[243px] w-[420px]">
    <ShapeRectangle />
  </div>
</section>
