.nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #1976d2;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  color: #fff;
}

.link {
  width: 32px;
  height: 23px;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
}

.content {
  margin: 2rem;
}
