/*********** FOCUS AREA ***********/

/* prettier-ignore */
.container {
  --half-size: calc(var(--item-size) / 2);

  position: relative;
  width: var(--item-size);
  height: var(--item-size);

  transform-style: preserve-3d;
  /* Step 1: hover to reveal all sides, vanishing point aligned with cube center */
  /* perspective: 15rem; */

  /* Step 2: Move vanishing point with perspective-origin */
  /* perspective-origin: 10em 8em; */
  
  /* Step 3: Transform container (all faces at once) for more real 3D */
  transform: perspective(15rem) rotateX(-30deg) rotateY(45deg);
}

#front {
  transform: translateZ(var(--half-size));
}
#right {
  transform: rotateY(90deg) translateZ(var(--half-size));
}
#left {
  transform: rotateY(-90deg) translateZ(var(--half-size));
}
#top {
  transform: rotateX(90deg) translateZ(var(--half-size));
}
#bottom {
  transform: rotateX(-90deg) translateZ(var(--half-size));
}

.item {
  &:hover {
    opacity: 50%;
    background-color: var(--highlight);
  }
}

/**********************************/

body {
  --item-size: 6em;
}

.item {
  position: absolute;
  border-radius: 0px;
  border: 1px dotted var(--highlight);
  box-sizing: border-box;
  cursor: default;
}
