@import "functions.scss";

@mixin calculate-columns($numberOfColumns: 1) {
  @for $colNumber from 1 through $numberOfColumns {
    .col-#{$colNumber} {
      width: calculate-width($colNumber, $numberOfColumns);
      float: left;
      box-sizing: border-box;
      border: 0.3em solid black;
    }
  }
}
