body {
    font-family: 'Raleway', sans-serif;
    background-color: darkgrey;
    color: #0b0b0b;
    height: 2000px;
}

.box {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.blue-box {
    background: lightblue;
    position: relative;
    /* top: 100px; */
}

.green-box {
  background-color: green;
  position: relative;
  top: -150px;
  z-index: -1;
}

.container {
    background: rgba(0, 0, 0, 0.4);
    width: 200px;
    height: 200px;
    position: relative;
}