/*********** FOCUS AREA ***********/

/* Takeaway: Starting styles */

.content {
  transition: opacity 2s ease-out;

  @starting-style {
    opacity: 0;
  }
}

/**********************************/

p {
  font-family: "Fira Code", monospace;
  font-weight: 300;
  text-align: justify;
  hyphens: auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
}

body {
  --item-size: 4em;
  justify-content: start;
  align-items: start;
  padding: 4em;
}
