---
import BaseLayout from "../../layouts/base.astro";
import type { Frontmatter } from "../../models/blog-post-frontmatter";

const allPosts = await Astro.glob<Frontmatter>("../posts/*.md");
// Aquí usamos una aproximación más moderna para sacar los tags
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
const pageTitle = "Tag Index";
---

<BaseLayout pageTitle={pageTitle}>
  {
    tags.map((tag) => (
      <p>
        <a href={`/tags/${tag}`}>{tag}</a>
      </p>
    ))
  }
</BaseLayout>

<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
