<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Acerca de</title>
	</head>
	<body>
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
    <a href="/about/">About</a>

    <h1>Acerca de...</h1>
    <h2>Y mi nuevo blog</h2>
  
    <p>Esta es la página de "acerca de".</p>
  
    <p>Aquí iría to BIO</p>
    </body>
</html>
