.container {
  margin: 2em;
  background-color: grey;
  display: grid;
  grid-template-columns: [column1-start] 200px 30% auto [column4-end];
  grid-template-rows: repeat(2, 33%) 34%;
  min-height: 50vh;
}

.item-a {
  grid-column: column1-start / span 1;
  grid-row: 1 / 2;
  background-color: crimson;
}

.item-b {
  grid-column: column1-start / span 2;
  grid-row: 2 / 3;
  background-color: orchid;
}

.item-c {
  grid-column: column1-start / span 3;
  grid-row: 3 / 4;
  background-color: skyblue;
}
