---
import ContactButtons from './contact-buttons.astro';
---

<footer
  class="bg-secondary-900 dark:bg-secondary-50 flex w-full flex-col items-center gap-6 px-6 py-8 text-white md:flex-row md:gap-6"
>
  <p class="font-instrument text-lg text-nowrap">&lt;&gt;Jwd&lt;/&gt;</p>
  <div class="flex w-full flex-col items-center justify-between gap-6 md:flex-row-reverse">
    <ContactButtons />
    <p class="text-xs text-nowrap">2025@todos los derechos reservados</p>
  </div>
</footer>
