---
import BaseLayout from "../layouts/base.astro";

// This could be moved to common model and share it with the
// blog layout
interface Frontmatter {
  layout: string;
  title: string;
  pubDate: string;
  description: string;
  author: string;
  image: {
    url: string;
    alt: string;
  };
  tags: string[];
}

const allPosts = await Astro.glob<Frontmatter>("./posts/*.md");
---

<BaseLayout pageTitle="Blog">
  <h2>Aqui va mi listado de posts</h2>
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
